{% extends 'base.html' %}
{% block content %}


<form action="/print_template">
<table class="table">
    <thead class="table-dark">
        <tr>
          <th scope="col">Time</th>
          <th scope="col">Type</th>
          <th scope="col">Title</th>
          <th scope="col">Speaker</th>
          <th scope="col">Template Design</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td><select name="notice" id="notice">
            <option value="daa">DAA</option> <a href=""></a>
            <option value="dbs">DBS</option> <a href=""></a>
            <option value="dcs">DCS</option> <a href=""></a>
            <option value="dhep">DHEP</option> <a href="">DHEP</a>
            <option value="dnmp">DNMP</option> <a href=""></a>
            <option value="dtp">DTP</option> <a href=""></a>
            <option value="wednesday">Wednesday Colloquium</option> <a href="">Aset</a>
            <option value="aset">Aset Colloquium</option> <a href=""></a>
            <!-- <option value="audi">Wednesday Colloquium</option>
                <option value="audi">Wednesday Colloquium</option>
                <option value="audi">Wednesday Colloquium</option> -->
        </select></td>

          <td><button class="GFG" onclick="window.location.href ='aset.py'">
            Print
        </button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Mark</td>
          <td><select name="notice" id="notice">
            <option value="daa">DAA</option> <a href=""></a>
            <option value="dbs">DBS</option> <a href=""></a>
            <option value="dcs">DCS</option> <a href=""></a>
            <option value="dhep">DHEP</option> <a href="">DHEP</a>
            <option value="dnmp">DNMP</option> <a href=""></a>
            <option value="dtp">DTP</option> <a href=""></a>
            <option value="wednesday">Wednesday Colloquium</option> <a href="">Aset</a>
            <option value="aset">Aset Colloquium</option> <a href=""></a>
            <!-- <option value="audi">Wednesday Colloquium</option>
                <option value="audi">Wednesday Colloquium</option>
                <option value="audi">Wednesday Colloquium</option> -->
        </select></td>
          <td><button class="GFG" onclick="window.location.href ='aset.py'">
            Print
        </button></td>
        </tr>
      </tbody>
  </table>
  </form>

  {% endblock %}